import React from 'react'
import PropTypes from 'prop-types'

const {{ pascalCase name }} = ({ children }) => {
  return <div>{children}</div>
}

{{ pascalCase name }}.propTypes = {
  children: PropTypes.node
}

{{ pascalCase name }}.defaultProps = {
  children: null
}

export default {{ pascalCase name }}
